<h2> Create Account</h2>

    <%= form_for :user, url: '/users' do |f| %>

    <div>
        <%= label_tag :name%>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= label_tag :email%>
        <%= f.text_field :email %>
    </div>
    <div>
        <%= label_tag :password%>
        <%= f.password_field :password %>
    </div>
    <div>
        <%= label_tag :password_confirmation%>
        <%= f.password_field :password_confirmation %>
    </div>
    
    <%= f.submit "Sign Up", class: "btn btn-default"%>

<%end%>