<!-- 商品详情页 -->

<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">

        <h4 style="color: grey;"><b>Product Introduction:</b></h4><br>
        
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>

        <hr>

        <h4 style="color: grey;"><b>Product Reviews:</b></h4><br>
        <dl class="dl-horizontal">
          <% @enhanced_reviews.each do |review| %>
            <dt>Rating</dt>
            <dd><%= review[:review][:rating] %></dd>
            <dt>User</dt>
            <dd><%= review[:user]%></dd>
            <dt>Comment</dt>
            <dd><%= review[:review][:description] %></dd>
            <br>
          <% end %>
        </dl>
        <hr>
        <h4 style="color: grey;"><b>Write A Review: </b></h4>
        <dl class="dl-horizontal">
        <%= form_for :review, url: "/products/#{params[:id]}/reviews" do |f| %>
          <dt><%= label_tag :Rating%></dt>
          <dd><%= f.select :rating, [1, 2, 3, 4, 5]%><br></dd>
          <dt><%= label_tag :comment%><br></dt>
          <dd><%= f.text_area :description %><br></dd>
          <dd><%= f.submit "Submit", class: "btn btn-default"%></dd>
        <%end%>
        </dl>
      </div>
    </div>

    

  </article>

  
  <br><br><br>

</section>
